
.register-form {
    text-align: center;
      background-color: #fff;
      border-radius: 10px;
      max-width: 100%;
      min-height: 480px;
    height: 100%;
      transition: all 0.6s ease-in-out;
}

.register-logo {
    text-align: center;
}
  
.register-component {
    text-align: center;
    padding-top: 3%;
}

/* Log in Heding*/

.login-heading {
    text-align: center;
}

.login-link {
    color: black;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.login-link:hover {
    color: orange;
}
  
/* Register Button */
  
.register-button-component {
    margin-top:50px;
    margin-bottom: 150px;
    text-align: center;
}
  