body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LoginLogo {
  text-align: center;
}

.Input {
	background-color: #e0e0e0;
	border: none;
	padding: 12px 8px;
	margin: 8px 0;
	width: 30%;
}

.LoginForm {
  text-align: center;
	background-color: #fff;
	border-radius: 10px;
	max-width: 100%;
	min-height: 480px;
  height: 100%;
	transition: all 0.6s ease-in-out;
}

.LoginComponent {
  text-align: center;
}

.RegisterHeading {
  text-align: center;
}

/* Footer */

ul.ulFooter {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  ul.ulFooter {
    grid-auto-flow: column;
  }
}

.ulFooter a {
  color: black;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.ulFooter a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.ulFooter li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ulFooter li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.Footer {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #e0e0e0;
  line-height: 1.3;
  font-family: Menlo, monospace;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* Login Button*/

.LoginButton {
	border-radius: 20px;
	border: 1px solid #e0e0e0;
	background-color: #e0e0e0;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top:100px;
  margin-bottom: 100px;
}

.LoginButtonComponent {
  text-align: center;
}

.LoginButton:active {
	transform: scale(0.95);
}

.loginButton:focus {
	outline: none;
}

.LoginButton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}